*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
}
body{
    background-color: rgb(185, 185, 185);
}
div{
    margin: 100px 20% 100px 20%;
    background-color: rgb(85, 85, 85);
    padding: 20px;
    color: white;
}
img{
    width: 400px;
    height: auto;
    margin-top: 20px;
}
ol,
ul{
    list-style-type: none;
    margin: 10px;
}
ol li{
    text-align: left;
}
h1,
h2{
    margin-top: 20px;
}
.steps{
    font-weight: 700;
    margin-top: 20px;
}
.links-header{
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
    margin-right: 50px;
}
button{
    padding: 20px;
}